In [33]:
import pandas as pd

In [36]:
# Set file paths
patient_file = "/Users/bwi/Documents/VA_Demo/100-patients/PatientCorePopulatedTable.txt"
admissions_file = "/Users/bwi/Documents/VA_Demo/100-patients/AdmissionsCorePopulatedTable.txt"
diagnoses_file = "/Users/bwi/Documents/VA_Demo/100-patients/AdmissionsDiagnosesCorePopulatedTable.txt"
labs_file = "/Users/bwi/Documents/VA_Demo/100-patients/LabsCorePopulatedTable.txt"

# Read files into Dataframes
patients = pd.read_csv(patient_file, sep="\t")
admissions = pd.read_csv(admissions_file, sep="\t")
diagnoses = pd.read_csv(diagnoses_file, sep="\t")
labs = pd.read_csv(labs_file, sep="\t")

## Inspect Data

In [97]:
patients.head()

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
0,FB2ABB23-C9D0-4D09-8464-49BF0B982F0F,Male,1947-12-28 02:45:40.547,Unknown,Married,Icelandic,18.08
1,64182B95-EB72-4E2B-BE77-8050B71498CE,Male,1952-01-18 19:51:12.917,African American,Separated,English,13.03
2,DB22A4D9-7E4D-485C-916A-9CD1386507FB,Female,1970-07-25 13:04:20.717,Asian,Married,English,6.67
3,6E70D84D-C75F-477C-BC37-9177C3698C66,Male,1979-01-04 05:45:29.580,White,Married,English,16.09
4,C8556CC0-32FC-4CA5-A8CD-9CCF38816167,Female,1921-04-11 11:39:49.197,White,Married,English,18.20

In [98]:
admissions.head()

,PatientID,AdmissionID,AdmissionStartDate,AdmissionEndDate
0,7A025E77-7832-4F53-B9A7-09A3F98AC17E,7,2011-10-12 14:55:02.027,2011-10-22 01:16:07.557
1,DCE5AEB8-6DB9-4106-8AE4-02CCC5C23741,1,1993-02-11 18:57:04.003,1993-02-24 17:22:29.713
2,DCE5AEB8-6DB9-4106-8AE4-02CCC5C23741,2,2002-11-28 19:06:31.117,2002-12-04 19:14:40.797
3,DCE5AEB8-6DB9-4106-8AE4-02CCC5C23741,3,2011-07-19 18:42:45.287,2011-07-25 04:57:42.053
4,886B5885-1EE2-49F3-98D5-A2F02EB8A9D4,1,1994-12-03 22:20:46.077,1994-12-20 20:24:56.010

In [99]:
diagnoses.head()

,PatientID,AdmissionID,PrimaryDiagnosisCode,PrimaryDiagnosisDescription,ICDCodes
0,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,2,M01.X,Direct infection of joint in infectious and pa...,M01
1,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,3,D65,Disseminated intravascular coagulation [defibr...,D65
2,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,4,C92.1,"Chronic myeloid leukemia, BCR/ABL-positive",C92
3,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,5,M05.51,Rheumatoid polyneuropathy with rheumatoid arth...,M05
4,6A57AC0C-57F3-4C19-98A1-51135EFBC4FF,1,C91.00,Acute lymphoblastic leukemia not having achiev...,C91

In [100]:
labs.head()

,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,URINALYSIS: RED BLOOD CELLS,1.8,rbc/hpf,1992-07-01 01:36:17.910
1,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: GLUCOSE,103.3,mg/dL,1992-06-30 09:35:52.383
2,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: MCH,35.8,pg,1992-06-30 03:50:11.777
3,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: CALCIUM,8.9,mg/dL,1992-06-30 12:09:46.107
4,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: RED BLOOD CELL COUNT,4.8,m/cumm,1992-07-01 01:31:08.677

## Inspect Data though description

In [101]:
patients.describe(include= "all")

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
count,100,100,100,100,100,100,100.000000
unique,100,2,100,4,6,4,NaN
top,E483DE6E-D4E6-47FD-905B-22EE86EC7ACE,Female,1924-06-27 19:37:58.823,White,Married,English,NaN
freq,1,52,1,49,45,64,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,22.102500
std,NaN,NaN,NaN,NaN,NaN,NaN,23.327656
min,NaN,NaN,NaN,NaN,NaN,NaN,1.700000
25%,NaN,NaN,NaN,NaN,NaN,NaN,12.702500
50%,NaN,NaN,NaN,NaN,NaN,NaN,15.435000
75%,NaN,NaN,NaN,NaN,NaN,NaN,18.687500
max,NaN,NaN,NaN,NaN,NaN,NaN,98.400000

In [102]:
admissions.describe(include = "all")

,PatientID,AdmissionID,AdmissionStartDate,AdmissionEndDate
count,372,372.000000,372,372
unique,100,NaN,372,372
top,81C5B13B-F6B2-4E57-9593-6E7E4C13B2CE,NaN,1988-07-16 23:54:40.207,1983-06-07 02:58:10.193
freq,7,NaN,1,1
mean,NaN,2.653226,NaN,NaN
std,NaN,1.476013,NaN,NaN
min,NaN,1.000000,NaN,NaN
25%,NaN,1.000000,NaN,NaN
50%,NaN,2.000000,NaN,NaN
75%,NaN,4.000000,NaN,NaN
max,NaN,7.000000,NaN,NaN

In [103]:
diagnoses.describe(include = "all")

,PatientID,AdmissionID,PrimaryDiagnosisCode,PrimaryDiagnosisDescription,ICDCodes
count,372,372.000000,372,372,372
unique,100,NaN,349,349,177
top,80D356B4-F974-441F-A5F2-F95986D119A2,NaN,Z22.31,Carrier of bacterial disease due to meningococci,M05
freq,7,NaN,3,3,23
mean,NaN,2.653226,NaN,NaN,NaN
std,NaN,1.476013,NaN,NaN,NaN
min,NaN,1.000000,NaN,NaN,NaN
25%,NaN,1.000000,NaN,NaN,NaN
50%,NaN,2.000000,NaN,NaN,NaN
75%,NaN,4.000000,NaN,NaN,NaN
max,NaN,7.000000,NaN,NaN,NaN

In [104]:
labs.describe(include = "all")

,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
count,111483,111483.000000,111483,111483.000000,111483,111483
unique,100,NaN,35,NaN,14,111483
top,80D356B4-F974-441F-A5F2-F95986D119A2,NaN,CBC: NEUTROPHILS,NaN,k/cumm,2003-03-22 01:22:22.260
freq,2760,NaN,3224,NaN,22257,1
mean,NaN,2.662756,NaN,34.999722,NaN,NaN
std,NaN,1.493165,NaN,58.247715,NaN,NaN
min,NaN,1.000000,NaN,0.000000,NaN,NaN
25%,NaN,1.000000,NaN,3.300000,NaN,NaN
50%,NaN,2.000000,NaN,10.600000,NaN,NaN
75%,NaN,4.000000,NaN,37.900000,NaN,NaN
max,NaN,7.000000,NaN,449.900000,NaN,NaN

## Cleaning ICD10 Codes to represent categories of disease

In [105]:
# Engineering new feature: Disease Category (String)
ICDCodes = diagnoses["PrimaryDiagnosisCode"]

In [106]:
# Dictionary to hold:
#     key: 'ICD10 category'  
#     value: 'Disease Category (String)'

code_dict = {}

In [107]:
ICDCodes.head()

0     M01.X
1       D65
2     C92.1
3    M05.51
4    C91.00
Name: PrimaryDiagnosisCode, dtype: object

In [108]:
# Parse out sub ICD category
ICDCodes = pd.DataFrame([code[0:3] for code in ICDCodes])

In [109]:
ICDCodes.head()

     0
0  M01
1  D65
2  C92
3  M05
4  C91

In [110]:
# Add ICDCodes (sub-category) to diagnoses DF and evaluate
diagnoses["ICDCodes"] = ICDCodes
diagnoses.head()

,PatientID,AdmissionID,PrimaryDiagnosisCode,PrimaryDiagnosisDescription,ICDCodes
0,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,2,M01.X,Direct infection of joint in infectious and pa...,M01
1,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,3,D65,Disseminated intravascular coagulation [defibr...,D65
2,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,4,C92.1,"Chronic myeloid leukemia, BCR/ABL-positive",C92
3,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,5,M05.51,Rheumatoid polyneuropathy with rheumatoid arth...,M05
4,6A57AC0C-57F3-4C19-98A1-51135EFBC4FF,1,C91.00,Acute lymphoblastic leukemia not having achiev...,C91

In [111]:
diagnoses.describe(include='all')

,PatientID,AdmissionID,PrimaryDiagnosisCode,PrimaryDiagnosisDescription,ICDCodes
count,372,372.000000,372,372,372
unique,100,NaN,349,349,177
top,80D356B4-F974-441F-A5F2-F95986D119A2,NaN,Z22.31,Carrier of bacterial disease due to meningococci,M05
freq,7,NaN,3,3,23
mean,NaN,2.653226,NaN,NaN,NaN
std,NaN,1.476013,NaN,NaN,NaN
min,NaN,1.000000,NaN,NaN,NaN
25%,NaN,1.000000,NaN,NaN,NaN
50%,NaN,2.000000,NaN,NaN,NaN
75%,NaN,4.000000,NaN,NaN,NaN
max,NaN,7.000000,NaN,NaN,NaN

## <center> Interestingly, MO5 (Rheumatoid arthritis) is the most frequent disease with 23% of the cohort being affected. </center>
## Let's look into this further...

In [154]:
# Categorize cohorts by ICDCodes 
#ICDCodes_cohorts = {}

# Create a cohort of all M05 Patients
M05_cohort_patient_ids = diagnoses.loc[(diagnoses['ICDCodes'] == 'M05'), 'PatientID'];
M05_cohort.describe()

count                                       23
unique                                      21
top       EEAFC0B3-B835-4D99-AB33-2F9428E54E5F
freq                                         2
Name: PatientID, dtype: object

In [152]:
# Combine demographics with M05 cohort
M05_cohort_patients = patients[patients['PatientID'].isin(M05_cohort_patient_ids)]
#print(M05_cohort_patients)
M05_cohort_patients.describe(include='all')

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
count,21,21,21,21,21,21,21.000000
unique,21,2,21,4,5,3,NaN
top,0E0EADE8-5592-4E0B-9F88-D7596E32EE08,Male,1945-11-18 04:14:31.573,White,Married,English,NaN
freq,1,11,1,13,11,15,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,23.315238
std,NaN,NaN,NaN,NaN,NaN,NaN,22.886173
min,NaN,NaN,NaN,NaN,NaN,NaN,4.510000
25%,NaN,NaN,NaN,NaN,NaN,NaN,15.310000
50%,NaN,NaN,NaN,NaN,NaN,NaN,18.080000
75%,NaN,NaN,NaN,NaN,NaN,NaN,19.410000
max,NaN,NaN,NaN,NaN,NaN,NaN,93.600000